.container {
  margin-top: 15px;
}
.to-animate {
  opacity: 0;
}
/* .subcategory {
  display: none;
} */
.main-category {
  transition: all 0.5s;
}
.subcategory {
  transition: all 0.5s;
}
.filterLinkForm{
  display: inline;
}
.filterLink{
  background-color: #FFF;
  border-color: #FFF;
  margin: 2px;
  transition: 0.3s all;
}
.filterLink:hover{
  color:#FFF;
  border-color: #28a745;
}
